.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageTitle {
  font-size: x-large;
  font-weight: 900;
  color: #2c3838;
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.menu {
  margin-right: 60px;
  margin-bottom: 0px;
}

.menu ul {
  height: max-content;
  list-style-type: none;
  margin: 0;
}

.menu li{
  display: inline;
  margin-left: 10px;
}

.menu a {
  font-size: 16px;
  padding-bottom: 0%;
  height: max-content;
  text-decoration: none;
  color: #5c645a;
  font-family: "Lucida Console", "Courier New", monospace;
}

.menu a:hover {
  font-weight: 900;
  color: #2c3838;
}

.post {

  background-color: #d6ded4;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:10px;
  border-radius: 25px;
  border: 2px solid #5c645a;

}

.post:hover {
  box-shadow: 0 0 11px #5c645a; 
}

.header {
  border-radius: 24px 24px 0px 0px;
  background-color: #64b454;
  padding: 2px;
  height: fit-content;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  font-weight: 900;
}


.pageHeader {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #64b454;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.content {
  position: relative;
  margin-top: 90px;
  overflow-x: auto;
  flex-grow: 1;
  text-align: center;
}

.pageTitle {
  padding: 0%;
  margin-left: 50px;
}

.addButton {
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 75px;
  width: 50px;
  height: 50px;
  background-color: #d6ded4;
  font-size:30px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #5c645a;

  font-family: "Lucida Console", "Courier New", monospace;
}

.addButton:hover {
  box-shadow: 0 0 11px #5c645a; 
}

.addLink {
  text-decoration: none;
  color: #5c645a;
}



.createPageContent {
  position: relative;
  margin-top: 150px;
  overflow-y: auto;
  flex-grow: 1;
  text-align: center;
}


.createButton {
  border-radius: 5px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  background-color: #64b454;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #5c645a;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;

  margin-right: 4%;
  margin-left: auto;
}

.createButton:hover {
  box-shadow: 0 0 11px #5c645a; 
}

.field:hover {
  box-shadow: 0 0 11px #5c645a; 
}

.field {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  font-size:16px;
  font-family: "Lucida Console", "Courier New", monospace;

  padding: 2px;
}

#createPostText {

  height: 100px;
  overflow-y: auto;
}

label {
  margin-left: 4%;
  width: fit-content;
  font-size:16px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.formGroup {
  margin-bottom: 20px; /* Add some space between form elements */
}


.formContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid #5c645a;
  border-radius: 5px;
  background-color: #d6ded4;
}

.error {
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #b81a1a;
}